{% extends '_layouts/cp' %}
{% set title = 'Submission ' ~ submission %}

{% block content %}
	<table class="data fullwidth">
		<tbody>
			{% for question in submission.getForm().getQuestions() %}
				<tr>
					<th>{{ question.name }}</th>

					<td>
						{% if question.type in ['Dropdown', 'RadioButtons', 'Checkboxes'] %}
							{% set data = submission[question.handle] %}
							{% for option in data.getOptions() %}
								{{ option.label }}: {{ option.selected ? 'yes' : 'no' }}
								{% if not loop.last %}
									<br>
								{% endif %}
							{% endfor %}
						{% else %}
							{{ submission[question.handle] }}
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
