{% extends '_layouts/cp' %}
{% set title = 'Submission ' ~ submission %}

{% block content %}
	<table class="data fullwidth">
		<tbody>
				<tr>
					<th>Submitted</th>
					<td>{{  submission.dateCreated.format('d/m/Y H:i:s') }}</td>

				</tr>
			{% for question in submission.getForm().getQuestions() %}
				<tr>
					{% if question.type != 'RawHTML' %}
						<th>{{ question.name }}</th>
						<td>
							{% set data = submission[question.handle] %}
							{% if question.type in ['CustomList'] %}
								{% for option in data %}
									{% set orginalOption = data.getOptions()[loop.index-1] %}
									{{ orginalOption.label }}  ( {{ option.value }}  ) : {{ option.selected ? 'yes' : 'no' }}
									{% if not loop.last %}
									<br>
									{% endif %}
								{% endfor %}
							{% elseif question.type in ['Dropdown', 'RadioButtons', 'Checkboxes'] %}
								{% for option in data.getOptions() %}
									{% if option.selected %}
										{{ option.value }}
									{% endif %}
								{% endfor %}
							{% elseif question.type in ['Assets'] %}
								{{ submission.downloadLink(question.handle) | raw }}
							{% elseif question.type in ['MultilineText'] %}
								{{ submission[question.handle] | raw }}
							{% else %}
								{{ submission[question.handle] }}
							{% endif %}
						</td>
					</tr>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
